@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300&display=swap');
@import "~bootstrap/dist/css/bootstrap.css";

body {
    background-color: #38A8EC;
}


.materialize-card {
    background-color: #38A8EC;
}

.all_large {
    height: 100%;
    width: 100%;
}

.z {
    z-index: 50;
}